<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="pl">
<head>
    <div th:replace="fragments/header :: header"  th:remove="tag"></div>
</head>

<body>

<div th:replace="fragments/navigation :: navbar" ></div>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2> <b> Archiwum </b></h2>
                    </div>

                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Klient</th>
                    <th>Samochód</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Kwota</th>

                </tr>
                </thead>
                <tbody>


                <tr th:each="rental: ${rentalList}" >

                    <td th:text="${rental.id}" > </td>
                    <td th:utext="${rental.client.name+ ' '+rental.client.lastName+
                     '<br>Pesel:.'+rental.client.pesel+
                    '<br>ul.'+rental.client.address+'<br>'+
                        rental.client.email+'<br>tel.'+rental.client.phoneNumber}" > </td>
                    <td th:utext="${rental.car.brand+ ' '+rental.car.model+
                        '<br>Nr.Rej. '+rental.car.registrationNumber+
                        '<br>VIN '+rental.car.vin}"></td>
                    <td th:text="${rental.rentalDate}"></td>
                    <td th:text="${rental.returnDate}"></td>
                    <td th:text="${rental.charge}"></td>

                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>


</body>
</html>